.add-task-button {
  color: #f1356d;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;

  border-radius: 3px;
}

.add-task-button-display-none {
  display: none;
}

.add-task-button:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.form-add-todo {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-add-todo-display-none {
  display: none;
}

.form-add-todo div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
